# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore

.DS_Store

## Build generated
build/
DerivedData
tldr-viewer/en-US.lproj/Localizable.strings
bin/
tldr-viewer.ipa
tldr-viewer.app.dSYM.zip

## Carthage stuff
Carthage/Build/*
Carthage/Checkouts/*

## other Fastlane output
fastlane/report.xml

tldr-viewer.app.dSYM.zip
tldr-viewer.ipa

## Various settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata

## Other
*.xccheckout
*.moved-aside
*.xcuserstate

fastlane/metadata/*
fastlane/Preview.html
fastlane/README.md
fastlane/report.xml

