body {
    font-family: 'Avenir-Book';
    font-size: 10.5pt;
    margin: 1em;
    word-wrap: break-word;
    color: #313131;
}

p {
    margin: 0em 0em 0em 0em;
}

h1 {
    font-size: 13pt;
    margin: 0em;
}

h2 {
    font-size: 10.5pt;
    margin: 0em;
}

blockquote {
    font-family: 'Avenir-Book';
    margin: 0em 0em 1em 0em;
}

code {
    font-family: 'Menlo-Regular';
    background-color: #e2e2e2;
    color: #111111;
    display: inline-block;
    vertical-align: +6%;
    padding: 0.20em 0.6em;
    margin: 0.1em 0.1em 0.1em 0.1em;
}

ul {
    list-style: none;
    padding: 0 !important;
    margin: 1em 0 0 0;
    margin-top: 1em
}

li {
    padding: 0.5em 0em;
    line-height: 1.1;
}

li:before {
    padding: 0 0px;
}

.parameter {
    color: #008080;
}

div.seeAlso {
    margin-top: 3em;
    padding: 0.5em;
    border-width: 1px;
    border-style: solid;
    border-color: #008080;
    line-height: 1.2em;
}

dl {
    width: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

dl dt {
    color: #008080;
    float: left;
    clear: left;
    width: 20%;
    padding: 0.5em 0em 0em 0em;
    margin:0;
}

dl dd {
    color: #313131;
    float: left;
    width: 75%;
    padding: 0.5em 0em 0em 0em;
    margin-left: 5%;
}

dl dt a {
    color: #008080;
    word-wrap: break-word;
    text-decoration: none;
}

a {
    color: #008080;
    word-wrap: break-word;
}
